<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../partials/bootstrap') %>
    <link rel="stylesheet" href="/css/userpage.css">
    <title>Muse</title>
</head>
<body>
    <!-- <h1> CURRENT USER HOME PAGE </h1>
    -->

    <div class="header">

            <nav class="navbar sticky-top">
                <a href="/user/<%=User._id%>" class="navbar-brand">
                    <img id="brand" src="/images/MUSE.png" alt="logo">
                    
                 </a>
                 <div class="viewfriends">
                     <a href="/user/friends" >
                    
                        <h5 class="btn btn-primary">View Friends</h5>
                    </a>
                 </div>
             </nav>
        </div>
        <div class="container">

            <aside class="userinfo">
                <div class="img-container">
                    <div class="username">
                        <h4><%= User.username%></h4>
                    </div>
                    <img class="img-fluid" src='<%=User.img%>' alt="image">
                    
                </div>
                <div class="name-cont">
                    <h4 class="name-text"><%= User.fName + ' ' + User.lName%></h4>
                </div>
                <div class="interests">
                    <h5>Interests: </h5>
                    <p class="interest-text">
                        <%= User.interests %>
                    </p>
                </div>
            </aside>
            <main>
                <div class="form">
                    <form action="/user/<%=User._id%>/post" method="post">
                        <small class="form-text text-muted prompt">What's on your mind?</small>
                    <input type="text" name='post' class="form-control" placeholder="Share Your Thoughts">
                    <input type='submit' class="btn btn-primary" >
                    </form>
                </div>
                <div class="userposts">

                <% for(let i= User.posts.length-1; i > 0; i--){ %>
                    <div class="post-comp">
                        <img src="<%= User.posts[i].creatorImg%>" class="usr-img" alt="user">
                        <p class="post-txt"><%= User.posts[i].content %></p>
                        <small class="text-muted">Posted:  <%= User.posts[i].date %></small>
                    </div>
                <% }; %>

                </div>
            </main>
            <aside class="friendposts">
                    <% for(let i= User.friendPosts.length-1; i > 0; i--){ %>
                        <div class="post-comp">
                            <img src="<%= User.friendPosts[i].creatorImg%>" class="usr-img" alt="user">
                            <p class="post-txt"><%= User.friendPosts[i].content %></p>
                            <small class="text-muted">Posted:  <%= User.friendPosts[i].date %></small>
                        </div>
                    <% }; %>
            </aside>
        </div>
</body>
</html>